[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST=reddis.padimalayamini.xyz
Environment=MONGO_URL="mongodb://mongodb.padimalayamini.xyz:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target